<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1g1Mybr2Cd1cayyUq8mA7PwqZjU3mVtU</string>
	<key>GCM_SENDER_ID</key>
	<string>439334840201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sellovia.sellovia</string>
	<key>PROJECT_ID</key>
	<string>sellovia-5af1d</string>
	<key>STORAGE_BUCKET</key>
	<string>sellovia-5af1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439334840201:ios:824d4e18367c7e2ce26358</string>
	<key>DATABASE_URL</key>
	<string>https://sellovia-5af1d-default-rtdb.firebaseio.com</string>
</dict>
</plist>